<div class="container search-box">
  <%= form_tag(cafes_path,:method => 'get') do %>
    <%= text_field_tag :search %>
    <%= submit_tag 'Search', :name => nil %>
  <% end %>
</div>

<div class="container">
  <div class="d-flex flex-wrap">
    <% @cafes.each do |cafe| %>
      <div class="col-md-6 content-box">
          <%= image_tag("coffee.JPG") %>
        <p class="cafe-name">
          <%= cafe.name %>
        </p>
      </div>
    <% end %>
  </div>
</div>
