<!DOCTYPE html>
<html>
  <head>
    <title>CafeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
        <nav>
          <div class="container">
            <div class="row">
              <h1 class="align-self-center top-logo">
                <%= link_to 'Cafes', '/cafes',  :style=>"color:black; text-decoration:none;" %>
              </h1>
            </div>
          </div>
          <!-- <% if user_signed_in? %>
            <strong><%= link_to current_user.username, pages_show_path %></strong>
            <%= link_to 'プロフィール変更', edit_user_registration_path %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to 'サインアップ', new_user_registration_path %>
            <%= link_to 'ログイン', new_user_session_path %>
          <% end %> -->
        </nav>
    </header>


    <%= yield %>


    <%= javascript_pack_tag 'hello_vue' %>
  </body>
</html>
